@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

.background-section {
  background-image: url(assets/background_desk_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.section-container {
  font-family: "Great Vibes", cursive;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
}
.p1 {
  font-size: 25px;
}
.p {
  font-family: sans-serif;
  font-size: 10px;
  margin-left: 300px;
}

.card-container {
  font-family: "Great Vibes", cursive;
  font-size: 25px;
  color: black;
  width: 500px;
  display: grid;
  text-align: center;
  margin-top: 10px;
}

a {
  font-family: "Great Vibes", cursive;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}
.quando-onde {
  font-size: 25px;
  width: 500px;
  margin-top: 20px;
}

.confirmar-pres {
  width: 500px;
  font-size: 25px;
  margin-top: 10px;
}

.botao {
  font-family: "Great Vibes", cursive;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  width: 250px;
  margin-top: 20px;
}

.botao1 {
  align-items: right;
  background: rgba(250, 243, 243, 0.822);
  box-shadow: 0 2px 0 rgba(230, 158, 188, 0.822);
}

.botao1:hover {
  background: rgba(230, 158, 188, 0.822);
  box-shadow: 0 3px 0 rgba(233, 131, 173, 0.822);
}

.botao1:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

footer {
  font-family: sans-serif;
  font-size: 8px;
  text-align: center;
  color: black;
  margin-top: 45px;
}

@media only screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
  }

  .background-section {
    background-image: url(assets/background_mob_2.png);
    background-size: cover;
  }

  .section-container {
    font-family: "Great Vibes", cursive;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 45px;
    letter-spacing: 1px;
    margin-top: 95px;
  }
  .p1 {
    font-size: 20px;
  }
  .p {
    font-family: sans-serif;
    font-size: 10px;
  }

  .card-container {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    letter-spacing: 1px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    flex-direction: column;
  }

  a {
    font-family: "Great Vibes", cursive;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
  }

  .quando-onde {
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
  }

  .confirmar-pres {
    width: 100%;
    font-size: 25px;
    margin-top: 3px;
  }

  footer {
    font-family: sans-serif;
    font-size: 8px;
    text-align: center;
    color: black;
    margin-top: 90px;
  }
}
